/* @import './base.css'; */

.v-field:has(input[required]) .v-label {
  padding-inline-end: 12px;
}

.v-field:has(input[required]) .v-label::after {
  position: absolute;
  content: '*';
  color: red;
  top: 0;
  inset-inline-end: 0;
}
